


.banner{
width: Fill (1,440px) ;
height: Fixed (75px) ;
padding: 0px, 20px, 8px, 20px ;
border: 4px solid black;
}

.roomate{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.1599999964237213px;
    text-align: center;
    }

.about{
    font-family: 'Poppins';
font-size: 14px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.1599999964237213px;
text-align: center;

}

.vector{
    width: 35px;
height: 35px;
top: 19.5px;
left: 622.5px;

}

.cribb{
font-family: 'Poppins';
font-size: 25px;
font-weight: bolder;
line-height: 48px;
letter-spacing: 0.03em;
text-align: left;
color: black;
}

.profile{
    font-family: 'Poppins';
font-size: 25px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.03em;
text-align: center;

}



.heading3{
font-family: 'Montserrat';
font-size: 36px;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.05em;
text-align: center;
}

.connect{
  font-family: 'Poppins';
    font-weight: 900;
    font-size: 70px;
    line-height: 80px;
    text-align: center; 
    text-align: center;
    }

  .inside{
    height: 100%;
  width: 100%;
    object-fit: contain;
  }
  
  .sec4{
    border: 1.5px solid black; border-radius: 10px;
  }

  .flyer{
    position: absolute; right: 0;
                left: 20%;
                top: 28%;
                bottom: 0;
                margin: auto;
  }

  .otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .otp-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
  }
  .otp-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .otp-field input::-webkit-inner-spin-button,
  .otp-field input::-webkit-outer-spin-button {
    display: none;
  }
  
  .resend {
    font-size: 12px;
  }
  
  /* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  background-color: rgb(253, 253, 253);

}

/* CHECKED STYLES */
[type=radio]:checked + img {
  background-color: rgb(241, 160, 29);
}